<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->

  <!--Don't combine the Async attribute and AsyncWrapper. 
  This will only slow down processing and will behave unreliably.-->
  <!--<targets async="true">-->
  <targets>


    <target name="asyncWrapper" xsi:type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0">
      <target name="logfile" xsi:type="File" 
              fileName="file.txt" 
              archiveFileName="log.{#}.txt"
              archiveNumbering="DateAndSequence"
              archiveAboveSize="52428800"
              archiveDateFormat="yyyyMMdd"
              keepFileOpen="true" 
              autoFlush="false" 
              concurrentWrites="false"
              layout="${longdate}|${machinename}|${processid}|${threadid}|${level:uppercase=true}|${logger}|${message}${exception:format=tostring}"/>
      </target>
      
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Debug" writeTo="asyncWrapper" />
    
  </rules>
</nlog>
